@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.App{
  min-height: 100vh;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  padding: 1rem 2.5rem;
  max-width: 1500px;
}
.margin-container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.title{
  color: #cc005f;
  font-size: 1.6rem;
  line-height: 1.5rem;
}
.subtitle{
  font-size: 3.6rem;
  line-height: 110%;
  text-align: center;
}
/*final classes padrões*/

/*introdução*/
.section-introducao{
  background-color: #221824;
  color: white;
  height:100vh;
  text-align: center;
}
.button-about-me{
  border: 3px solid #C7C7C7;
  padding: .8rem 2.5rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  border-radius: 2px;
}
.button-about-me:hover{
  border-color: #cc005f;
  transition-duration: 500ms;
}
.social-midias{
 display: flex;
 gap: 1.5rem;
 height: 45px;
}
.icon-social-midia{
  width: 35px;
}
.icon-social-midia:hover{
  width: 45px;
  transition-duration: 300ms;
}
/*final introdução*/

/*sobre mim*/
.perfil, .container-divs-about{
  flex-direction: row;
  gap: 2.5rem;
  margin-top: 2rem;
  align-items: flex-start;
}
.foto-perfil{
  max-width: 100px;
  width: 100%;
  border-radius: 100%;
  border: 2px solid black;
}
.paragraph-perfil{
  width: 50%;
}
.titles-about{
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .25rem;
}
.container-habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
}
.habilidade{
  background-color: #ebebeb;
  padding: 1rem;
  border-radius: 5px;
}
.icones-habilidades{
  width: 80px;
  margin-bottom: .7rem;
}
.title-habilidades{
  text-align: center;
}
/*final sobre mim*/


/*projetos*/
.projetos{
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}
.container-cards-projetos{
  width: 100%;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: flex-start;
}
.card-projeto{
  width: 300px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  min-height: 450px;
}
.project-img{
  width: 100%;
  height: 100%;
  border-top-left-radius:8px ;
  border-top-right-radius:8px ;
  min-height: 165px;
}
.card-projeto-content{
  color: #666666;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.body-card-habilidades > h3{
  color: #333333;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: .3rem;
}
.footer-card{
  display: flex;
  flex-direction: column;
}
.tecnologias-card-projetos{
  display: flex;
  gap: .5rem;
  width: 100%;
  margin-top: .5rem;
}
.div-buttons-card-projetos{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem 0rem;
}
.button-projeto, .button-repositorio{
  background-color: #C7C7C7;
  padding: .7rem 1.5rem;
  border-radius: 5px;
  color: black;
  font-size: .9rem;
  width: 48%;
  height: 6.5vh;
}
.button-projeto:hover, .button-repositorio:hover{
  background-color: #8685EF;
  transition-duration: 200ms;
}
.img-hover-eye, .img-hover-github{
  display: none;
  align-content: center;
  justify-content: center;
}
.button-projeto:hover .img-hover-eye{
  display: flex;
}
.button-projeto:hover .text-button-projeto{
  display: none;
}
.button-repositorio:hover .img-hover-github{
  display: flex;
}
.button-repositorio:hover .text-button-projeto{
  display: none;
}
/*final projetos*/
.footer{
  background-color: #221824;
  font-size: 1.3rem;
  color: white;
  height: 100px;
  text-align: center;
}
@media(max-width:800px){
  .perfil{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .paragraph-perfil{
    width: 100%;
  }
}