@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
.App{
  min-height: 100vh;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  padding: 1rem 2.5rem;
  max-width: 1500px;
}
.section-introducao{
    background-color: #221824;
    color: white;
    height: 95vh;
    text-align: center;
}


.button-about-me{
    border: 4px solid #C7C7C7;
    padding: .8rem 2.5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.social-midias{
 display: flex;
 gap: 1.5rem;
}
.icon-social-midia{
  width: 35px;
}

